/* appLayout.css */

html, body, #root {
  /* height: 100%; */
  margin: 0;
   font-family: 'Roboto', sans-serif;
}

.appLayoutMain {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.header {
  height: 60px; 
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer {
    /* width: 100%; */

}

.layoutMain {
  flex: 1;

 z-index: 0;
}

