.faqContainer{
    padding: 0px 80px;
    margin-top: 10px;
    font-size: 12px;
    color:#5f5f60
}

.faqQuention{
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.answer{
    width: 50%;
}

.inactiveFaq{
    display: none;
}
.activeFaq{
    display: flex;
    flex-direction: column;
}